AddHandler fcgid-script .html
FCGIWrapper "/dh/cgi-system/php72.cgi" .html
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Options -Indexes
RemoveHandler .py

# redirect from old learning URLs to new
Redirect /learning.html /learn/
Redirect /learning-code.html /learn/#coding
Redirect /learning-demo.html /learn/#demos
Redirect /learning-read-code.html /learn/#code
Redirect /learning-read.html /learn/#readings
Redirect /learning-watch.html /learn/#talks

# redirect from old community URL to new
Redirect /community.html /community/

# redirect from old download/install URLs to new
Redirect /download.html /download/
Redirect /install-cray.html /download/#hpe
Redirect /install-pkg.html /download/#linux
Redirect /install-homebrew.html /download/#homebrew
Redirect /install-spack.html /download/#spack
Redirect /install-docker.html /download/#docker
Redirect /install.html /download/
Redirect /install-mac.html /download/#homebrew

# redirect resources links
Redirect /papers.html /papers/
Redirect /presentations.html /presentations/
Redirect /tutorials.html /tutorials/

# redirect overview page
Redirect /overview.html /

# redirect CHIUW page
Redirect /CHIUW.html /ChapelCon.html

# redirect old docs links
Redirect /docs/latest/ /docs/
Redirect /docs/master/ /docs/main/

# redirect pages that have been dead or client-side redirected for awhile
Redirect /acks.html /contributors.html
Redirect /bugs.html /docs/usingchapel/bugs.html
Redirect /language.html /docs/
Redirect /language-changes.html /docs/language/evolution.html
Redirect /newsite/index.html /
Redirect /index-new.html /
Redirect /newsite/ /

# hellos
Redirect /hellos.html /docs/examples/
Redirect /hello.html /docs/examples/hellos/hello.html
Redirect /hello-module.html /docs/examples/hellos/hello2-module.html
Redirect /hello-datapar.html /docs/examples/hellos/hello3-datapar.html
Redirect /hello-datapar-dist.html /docs/examples/hellos/hello4-datapar-dist.html
Redirect /hello-taskpar.html /docs/examples/hellos/hello5-taskpar.html
Redirect /hello-taskpar-dist.html /docs/examples/hellos/hello6-taskpar-dist.html
