<section class="bar background-pentagon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading text-center">
          <h2>{{ .Site.Params.applications.title }}</h2>
        </div>


        <div class="homepage owl-carousel"
              data-autoplay="{{ default false .Site.Params.CarouselHomepage.auto_play }}"
              data-slide-speed="2000"
              data-pagination-speed="500">
              {{ $apps := sort .Site.Data.applications "weight" }}
                    {{ range $apps }}
              <div class="item">
                  {{ if .href }}
                  <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                  {{ end }}
                      <div class="row">
                          <div class="col-sm-6 right">
                              <h2>{{ .name }}</h2>
                              <h4>{{ .tagline }} </h4>
                              <p>{{ .text | safeHTML }}</p>

                                <a href="{{ .url }}">
                                  <div class="application-button">Learn More</div>
                                </a>
                          </div>
                          <div class="col-sm-6">
                              <img class="img-responsive" src="{{ .image }}" alt="" style="padding-right: 30px; max-height: 20em;">
                          </div>
                      </div>
                  {{ if .href }}
                  </a>
                  {{ end }}
              </div>
              {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>