{{ if isset .Site.Params "attributes" }}
{{ if .Site.Params.attributes.enable }}
{{ if isset .Site.Data "attributes" }}
{{ if gt (len .Site.Data.attributes) 0 }}
<section class="bar background-navy">
    <div class="container">
        {{ $elements := default 1 .Site.Params.attributes.cols }}
        {{ $attributes := sort .Site.Data.attributes "weight" }}
        {{ $total_rows := div (len $attributes) $elements }}

        {{ if gt (mod (len $attributes) $elements) 0 }}
          {{ $total_rows = add $total_rows 1 }}
        {{ end }}
        <div class="row">
            {{ range $i, $element := $attributes }}
                <div class="attribute-item col-md-{{ div 12 $elements }} col-sm-6 col-xs-12">
                    {{ with $element.url }}
                        <a href="{{ relURL $element.url }}">
                    {{ end }}

                    <div class="box-simple background-white">
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>

                    {{ with $element.url }}
                        </a>
                    {{ end }}  
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
