<footer id="footer">
  <div class="container">

    <!-- social media and other accounts -->
    <div class="col-md-3 col-sm-3 footer-icon-list">
      <h4> Follow Us </h4>
      {{$base := .Site.BaseURL}}
      {{ range sort .Site.Params.socials "weight" }}

      <div class="col-md-12 col-sm-12 footer-icon-entry">
        <a href="{{ .url }}">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" /> {{ .name }}
        </a>
      </div>
      {{ end }}
    </div>

    <div class="col-md-3 col-sm-3 footer-icon-list">
      <h4> Get In Touch </h4>
      {{$base := .Site.BaseURL}}
      {{ range sort .Site.Params.forums "weight" }}

      <div class="col-md-12 col-sm-12 footer-icon-entry">
        <a href="{{ .url }}">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" /> {{ .name }}
        </a>
      </div>
      {{ end }}
    </div>

    <div class="col-md-3 col-sm-3 footer-icon-list">
      <h4> Get Started </h4>
      {{$base := .Site.BaseURL}}
      {{ range sort .Site.Params.devel "weight" }}

      <div class="col-md-12 col-sm-12 footer-icon-entry">
        <a href="{{ .url }}">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" /> {{ .name }}
        </a>
      </div>
      {{ end }}
    </div>

  </div>
</footer>
