<section id="example" class="background-white">
  <h2 style="text-align: center; margin-bottom: 0px">
    {{ site.Title }} 
  </h2>
  <div class="tagline">
    {{ site.Params.tagline }}
  </div>
  <div class="container code" id="first-comparison" style="padding-top: 20px">
    <div class="col-md-4 col-0 col-even">
      <fieldset>
        {{ range .Site.Params.codes }}
        <div class="col-md-12 radio-button-grid" data-for-sample="{{ .name }}">
          <div class="radio-button-wrapper">
            <label class="radio-code-selector" for="radio-{{ .name }}">
              <input type="radio" id="radio-{{ .name }}" value="{{ .name }}" name="code-sample" {{ if eq .default "true" }}checked{{ end }}>
              {{ .name }}
            </label>
          </div>
        </div>
        {{ end }}
      </fieldset>
    </div>
    
    <div class="col-md-8 col-1 col-odd">
        {{ range .Site.Params.codes }}
          <div class="code" data-for-sample="{{ .name }}">{{ highlight .code "Chapel" "style=borland"}}</div>
        {{ end }}
      </div>
      <script>
      function setupCodeSample(id) {
      const elt = document.getElementById(id);
      const inputs = elt.querySelectorAll("input[type=radio]");
      const selected = elt.querySelector("input[type=radio]:checked");
      const samples = elt.querySelectorAll(".code[data-for-sample]");
      const grids = elt.querySelectorAll(".radio-button-grid");
      function showInput(input) {
        var selectedCode = "";
        for (const s of samples) {
          if (s.attributes["data-for-sample"].value === input.value) {
            s.style.display = "block";
            selectedCode = s.attributes["data-for-sample"].value;
          } else {
            s.style.display = "none";
          }
        }

        for (const g of grids) {
          if (g.attributes["data-for-sample"].value === selectedCode) {
            g.classList.add("selected");
          } else {
            g.classList.remove("selected");
          }
        }
      }
      showInput(selected);
      for (const input of inputs) {
        input.addEventListener("change", () => showInput(input));
      }
    }
    setupCodeSample("first-comparison");

    
      </script>
    </div>
  </div>

</section>