{{ if isset .Site.Params "topgrid" }}
{{ if .Site.Params.topgrid.enable }}
{{ if isset .Site.Data "topgrid" }}
{{ if gt (len .Site.Data.topgrid) 0 }}
<section class="try-get-learn background-white">
    <div class="container">
        {{ $elements := default 3 .Site.Params.topgrid.cols }}
        {{ $topgrid := sort .Site.Data.topgrid "weight" }}

        {{ $total_rows := div (len $topgrid) $elements }}

        {{ if gt (mod (len $topgrid) $elements) 0 }}
          {{ $total_rows = add $total_rows 1 }}
        {{ end }}

        {{ range $i, $sequence := seq $total_rows }}
          <div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
            {{ range $j, $sequence2 := (seq $elements) }}

                {{ $topgrid_index := add (mul $i $elements) $j }}
                {{ if lt $topgrid_index (len $topgrid) }}
                    {{ $element := index $topgrid $topgrid_index }}

                    <div class="col-md-{{ div 12 $elements }} col-{{ $j }} col-{{ if eq (mod $j 2) 0 }}odd{{ else }}even{{ end }}">
                        <div class="top-box-simple">
                            {{ with $element.url }}
                            <a href="{{ $element.url }}">
                            {{ end }}
                                <div class="top-box-text">
                                        {{ $element.name | markdownify }}
                                </div>
                            {{ with $element.url }}
                            </a>
                            {{ end }}
                            
                            <!--<p>{{ $element.description | markdownify }}</p>-->
                        </div>
                    </div>
                {{ end }}
            {{ end }}
          </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
