
.top-box-simple {
  text-align: center;
  margin-bottom: 20px;
}

.top-box-text {
  display: inline-block;
  width: 240px;
  height: 80px;
  line-height: 70px;
  border: solid 2px #fff;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.06em;
  color: black;
  border-color: var(--chapel-blue);
  background-color: var(--chapel-white);
  border-width: 3px;
  box-shadow: var(--chapel-shadow);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-box-text:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: var(--chapel-light-green);
}

.publication-description p {
  margin-left: 3em;
  display: inline-block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio-code-selector {
  font-size: 1.5rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 50ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--chapel-navy);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

span.open-quote {
  font-size: 3em;
  margin-right: 0.2em;
  vertical-align: middle;
}

span.close-quote {
  font-size: 3em;
  margin-left: 0.2em;
  vertical-align: middle;
}

div.quote-content {
  flex-grow: 1;
}

div.quote-body {
  font-size: 1.6em;
  padding: 0.7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: black;
}

.quote-section {
  padding-top: 0px;
}


.quote {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 10px;
}

.hide-quote {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show-quote {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hide-quote {
    transition: none;
  }
  .show-quote {
    transition: none;
  }
}

.blog {
width: 80%;
margin: auto;
border: 1px var(--chapel-navy);
  border-width: 1px;
}

.blog-post-row {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 1px solid var(--chapel-gray);
  border-width: 1px;
  width: 100%;
  margin-bottom: 1em;
}
.blog-post-text {
  padding: 1em;
}

.blog-image {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center
}
.blog-image .img-responsive {
  padding: 1em;
}

.no-blog-image {
  width: 100%;
  height:100%;
  margin: auto;
  background-color: var(--chapel-light-green);
  border-left: 5px solid var(--chapel-blue);
}

#footer {
  background: var(--chapel-footer-gray);
}

.footer-icon-list {
  margin-bottom: 2em;
}

.footer-icon-entry {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--chapel-black);
}
.footer-icon-entry img {
  max-width:1.5em;
  max-height:1.5em;
  margin-right: 0.5em;
  margin-bottom: 0.37em;
}

.footer-icon-entry a {
  color: var(--chapel-black);
}

.footer-icon-entry a:link {
  text-decoration: none;
  color: var(--chapel-black);
}

.footer-icon-entry a:hover {
  text-decoration: none;
  color: var(--chapel-light-gray);
}

.applications {
  padding: 10px;
}

.applications .item {
  background: var(--chapel-white);
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: var(--chapel-shadow);
  margin: 20px 15px;
}

.applications .item .application {
  position: relative;
  padding: 20px;
  font-size: 15px;
}

.applications .item .application:before,
.applications .item .application:after {
  content: " ";
  display: table;
}
.applications .item .application:after {
  clear: both;
}
.applications .item .application:before,
.applications .item .application:after {
  content: " ";
  display: table;
}
.applications .item .application:after {
  clear: both;
}
.applications .item .application .text {
  color: var(--chapel-gray);
  margin-bottom: 40px;
}
.applications .item .application .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
}
.application a {
  color: var(--chapel-black);
}
.application a:link {
  color: var(--chapel-black);
}

.switcher-text p{
  font-size: 1.2em;
  text-transform: none;
}

/* Image background carousel inactive selector */
.home-carousel .owl-theme .owl-controls .owl-page span {
  background: var(--chapel-black);
  width: 16px;
  height: 16px;
}

/* geometric background carousel selectors */
.background-pentagon .owl-theme .owl-controls .owl-page span {
  background: var(--chapel-black);
  width: 16px;
  height: 16px;
}

.background-pentagon .owl-theme .owl-controls .owl-page.active span {
  background: var(--chapel-blue);
}


.grid {
  display: flex;
  align-items: stretch;
}

.grid-item {
  flex: 1;
  margin-bottom: 32px;
}

.box-simple {
  height: 100%;
}

.content-paragraph{
  font-size: 1.2em;
  margin-bottom: 2em;
  line-height: 1.5;
}

.social-description {
  font-size: 1.2em;
  line-height: 1.5;
  margin-left: 20px;
}

.social-category {
  font-size: 1.2em;
  line-height: 1.5;
}
a .social-name {
  color: var(--chapel-blue);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover .social-name {
  color: var(--chapel-navy);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar .container {
  min-height: inherit;
}
.navbar .navbar-header {
  min-height: inherit;
}
.navbar .navbar-collapse {
  min-height: inherit;
}

.navbar-brand {
  height: 80px;
}
.navbar-brand img {
  max-height: 80px;
  height: 70px;
  margin-top: 3px;
}

.navbar-nav {
  min-height: inherit;
}

.navbar-nav .dropdown {
  min-height: inherit;
}

.navbar-nav .dropdown a {
  padding-top: 27px;
  min-height: inherit;
}

.tagline {
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center; 
  margin-top: 0px; 
  text-decoration: none; 
  margin-bottom: 10px;
}
.tagline a {
  font-weight: bold;
}

.code {
  margin-bottom: 20px;
}

.code-comparison {
  overflow: scroll;
  height: 400px;
}

.radio-code-selector {
  font-size: 1.35em;
  margin-bottom: 8px;
}

.radio-button-grid {
  min-height: 50px;
  border-left: solid 5px var(--chapel-white);
  padding-top: 12px;
  margin-bottom: 0px;
}

.radio-button-grid.selected {
  background-color: var(--chapel-light-green);
  border-left: solid 5px var(--chapel-blue);
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.row.display-flex > [class*='col-'] {
  flex: 1;
}

p.source {
  font-size: 1em;
  text-transform: none;
  max-width: 100%;
  font-weight: normal;
  font-style: italic;

  padding-right: 30px;
}

@media (max-width: 768px) {
  .attribute-item.box-simple {
    min-height: 257px;
  }
}

.attribute-item .box-simple {
  min-height: 210px;
}

@media (min-width: 600px) {
  .attribute-item .box-simple {
    min-height: 210px;
  }
}

@media (min-width: 768px) {
  .attribute-item .box-simple {
    min-height: 257px;
  }
}

.application-button {
  width: 90px;
  height: 40px;
  border: 2px solid var(--chapel-blue);
  text-align: center;
  line-height: 36px;
  margin-top: 10px;
  border-color: var(--chapel-blue);
  background-color: var(--chapel-white);
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.application-button:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: var(--chapel-light-green);
}



details summary h4::after {
  content: "\25B8";
  color: var(--chapel-blue);
}
details[open] summary h4::after {
  content: "\25BE";
}

details summary h3::after {
  content: "\25B8";
  color: var(--chapel-blue);
}
details[open] summary h3::after {
  content: "\25BE";
}

details .toggle-list-contents{
  margin-left: 20px;
}

/* remove the extra caret in safari */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

table, th, td {
  border: 1px solid var(--chapel-gray);
}

table {
  width: 80%;
}

th {
  text-align: center;
}
tr {
  height: 30px;
}
td {
  padding-left: 2px;
  font-size: 1.2em;
}

.tessellated-background {
  background: var(--chapel-tessellated);
}


.learn-more-button {
  float: right;
  width: 90px;
  height: 40px;
  border: 2px solid var(--chapel-blue);
  text-align: center;
  line-height: 36px;
  margin-top: 10px;
  border-color: var(--chapel-blue);
  background-color: var(--chapel-white);
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.learn-more-button:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: var(--chapel-light-green);
}

.hamburger {
  height: 30px;
  width: 30px;
}
