{{$var := .Get 0}}

<section class="background-white">
  <div class="container">
      {{ $elements := 3 }}
      {{ $attributes := index .Page.Params $var}}
      {{ $total_rows := div (len $attributes) $elements }}

      <div class="row">
        {{ range $i, $element := $attributes }}
            <div class="attribute-item col-md-{{ div 12 $elements }} col-sm-6 col-xs-12">
                {{ with $element.url }}
                    <a href="{{ relURL $element.url }}">
                {{ end }}

                <div class="box-simple background-white">
                    <h3>{{ $element.name | markdownify }}</h3>
                    <p>{{ $element.description | markdownify }}</p>
                </div>

                {{ with $element.url }}
                    </a>
                {{ end }}  
            </div>
        {{ end }}
      </div>
  </div>
</section>