{{$var := .Get 0}}
{{$socials := index .Page.Params $var }}

{{ range $socials }}
  <div class="social">
    <a href="{{ .url }}">
      <h4 class="social-name">{{ .name }}</h4>
    </a>
    <p class="social-description">
      {{ .description | markdownify }}
      {{if isset . "categories"}}
        <ul>
          {{range .categories}}
          <li class="social-category">
            <a href="{{.url}}">{{ .name }}</a>: {{ .description }}
          </li>
          {{end}}
        </ul> 
      {{end}}
    </p>
  </div>
{{end}}