{{$var := .Get 0}}
{{$summary := .Get 1 }}

{{ with index .Site.Data.chapelcon25 $var }}

<tr>

  <td valign="top"> 
    <div class="session-time">
      {{ .start }} - {{ .end }} 
    </div>
  </td>
  <td>  
    
    <!-- Title line -->
    <div class="session-title", id="{{ $var }}">
    <a href="#{{ $var }}", style="color: black">{{ .title }}</a> 
    {{ if or (isset . "video") (isset . "slides") (isset . "code")}}
      [
      {{ if isset . "video" }} <a href="{{ .video }}">Video</a> {{ end }}
      {{ if and (isset . "video") (isset . "slides") }} | {{ end }}
      {{ if isset . "slides" }} <a href="{{ .slides }}">Slides</a> {{ end }}
      {{ if and (or (isset . "video") (isset . "slides")) (isset . "code") }} | {{ end }}
      {{ if isset . "code" }} <a href="{{ .code }}">Code</a> {{ end }}
      ]
    {{ end }}
    </div>
    

    <!-- Author line -->
    <div class="session-authors">
    <em>{{ .authors }}</em>
    </div>

    <!-- Description line -->
    {{ if isset . "description" }}
    <div class="session-description">
      <details>
        <summary>Description</summary>
        {{ .description }}
      </details>
    </div>
    {{ end }}
     
  </td>
</tr>

{{ else }}
  {{ errorf "No artifact found with slug '%s' when trying to generate listing, referenced at: %p" $var .Position }}
{{ end }}
