{{$var := .Get 0}}
{{$examples := index .Site.Data.examples $var }}
{{$summary := .Get 1 }}

<details>
  <summary id="{{ $var }}"><h4>{{ $summary }} </h4>	</summary>
  <div class="toggle-list-contents">
    {{ range $examples }}
      <div class="examples">
      {{ if isset . "url" }} <a href="{{ .url }}"> {{ end }}
        <b>{{ .title }}</b>
      {{ if isset . "url" }} </a> {{ end }}

      {{ if or (isset . "video") (isset . "slides") (isset . "extraLink")}}
        [
        {{ if isset . "video" }} <a href="{{ .video }}">Video</a> {{ end }}
        {{ if and (isset . "video") (isset . "slides") }} | {{ end }}
        {{ if isset . "slides" }} <a href="{{ .slides }}">Slides</a> {{ end }}
        {{ if and (or (isset . "video") (isset . "slides")) (isset . "extraLink") }} | {{ end }}
        {{ if isset . "extraLink" }} <a href="{{ .extraLink }}"> {{ .extraLinkText }} </a> {{ end }}
        ]
      {{ end }}

      {{ .authors }}

      <div class="example-description">
        <p>{{ .description}}</p>
      </div>

      </div>
    {{ end }}
  </div>
</details>
