{{ $sections := .Site.Data.publications }}

{{ range $sections }}
  {{ range . }}
    {{ if .highlighted }}
      <div class="publication">
      {{ if isset . "url" }} <a href="{{ .url }}"> {{ end }}
        <b>{{ .title }}</b>
      {{ if isset . "url" }} </a> {{ end }}

      {{ if or (isset . "video") (isset . "slides") (isset . "extraLink")}}
        [
        {{ if isset . "video" }} <a href="{{ .video }}">Video</a> {{ end }}
        {{ if and (isset . "video") (isset . "slides") }} | {{ end }}
        {{ if isset . "slides" }} <a href="{{ .slides }}">Slides</a> {{ end }}
        {{ if and (or (isset . "video") (isset . "slides")) (isset . "extraLink") }} | {{ end }}
        {{ if isset . "extraLink" }} <a href="{{ .extraLink }}"> {{ .extraLinkText }} </a> {{ end }}
        ]
      {{ end }}

      {{ .authors }},
      <i>{{ .venue }}</i>,
      {{ .date }}

      <div class="publication-description">
        <p>{{ .description}}</p>
      </div>

      </div>
    {{ end }}
  {{ end }}
{{ end }}
