{{ $version := .Get 0 }}
{{ $OSes := .Site.Data.pkgs.pkgConfigs }}

<ul>
{{ range $OSes }}
  {{ $basePath := "https://github.com/chapel-lang/chapel/releases/download/" }}
  {{ $osPath := printf "%s%s%s" $basePath $version "/chapel-" }}
  {{ $singlePath := cond .minimal (printf "%s%s%s%s%s" $osPath "minimal-" $version "-1." .path) (printf "%s%s%s%s" $osPath $version "-1." .path) }}
  {{ $isDeb := or (strings.Contains .name "Debian") (strings.Contains .name "Ubuntu") }}
  {{ $x86Suffix := cond $isDeb  ".amd64.deb" ".x86_64.rpm"}}
  {{ $armSuffix := cond $isDeb ".arm64.deb" ".aarch64.rpm" }}
  {{ $caveat := cond .minimal " (compiler and runtime only)" "" }}
  <li>
    <p>{{ .name }}{{ $caveat }} - 
      <a href="{{ printf "%s%s" $singlePath $x86Suffix }}">[x86_64]</a>
      <a href="{{ printf "%s%s" $singlePath $armSuffix }}">[arm64]</a>
    </p>
  </li>
  {{ end }}
</ul>
