{{$var := .Get 0}}

<section>
  <div class="home-carousel">
      <div class="dark-mask"></div>
      <div class="container">
          <div class="homepage owl-carousel"
              data-autoplay="{{ default false .Site.Params.CarouselHomepage.auto_play }}"
              data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
              data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
              {{ $items := index .Page.Params $var }}
              {{ range sort $items "weight" }}
              <div class="item">
                  {{ if .href }}
                  <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                  {{ end }}
                      <div class="row">
                          <div class="col-sm-5 switcher-text right">
                              <h1>{{ .title | safeHTML }}</h1>
                              <p>{{ .description | safeHTML }}</p>
                              {{ if .url }}
                                <a href="{{ .url }}">
                                    <div class="learn-more-button">Learn More</div>
                                </a>
                              {{ end }}
                          </div>
                          <div class="col-sm-7">
                            <img class="img-responsive" src="../{{ .image }}" alt="" style="padding-right: 30px">
                            {{if .source }}
                              <p class="source">{{ .source }}</p>
                            {{ end }}
                          </div>
                      </div>
                  {{ if .href }}
                  </a>
                  {{ end }}
              </div>
              {{ end }}
          </div>
          <!-- /.project owl-slider -->
      </div>
  </div>
</section>